#MainContentPlaceHolder_personalDataHandlingCheckBox {
    width: 45px;
    height: 45px;
    margin-right:25px;
    accent-color: #258cd1;
    cursor: pointer;
    border-radius:15px;
}
.num-phone-but {
    word-spacing: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}
.js-phoneMask {
    margin-right: 10px;
    height: 68px;
    width: 50%;
    border-radius: 15px;
    border-color: rgba(223, 223, 223, 1);
    padding-left: 16px;
    font-size: 20px;
    background-color: rgba(246, 246, 246, 1);
}
/*#MainContentPlaceHolder_confirmPhoneLabel {
    padding-left: 20%;
    padding-right: 20%;
}*/
.termsLinkButton {
    text-decoration-line: none;
    color: black;
}
.wrapper {
    position: relative;
    font-size: 14px;
}

    .wrapper > input {
        background-color: transparent;
        padding: 4px;
    }

    .wrapper > .placeholder {
        position: absolute;
        left: 0;
        font-size: inherit;
        color: #d8d8d8;
        padding: 7px;
        z-index: -1;
    }
#MainContentPlaceHolder_confirmPhoneLabel {
    display: flex; 
}
#MainContentPlaceHolder_codeTextBox {
    height: 20px;
    width: 50%;
    border-radius: 15px;
}
.serviceName {
    font-weight: bold;
    font-size:25px;
}
 /*.dialog-element.center {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    height: 80px;
}*/
.modal-dialog-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: grey;
    z-index: 1;
}
.dialog-hr {
    border: none;
    border-top: 1px solid #cccccc;
    margin: 8px 0;
    opacity: 0.7;
    margin-left: 10%;
    margin-right: 10%;
}
.simple-button {
    background-color: rgba(254, 105, 99, 1);
    color: white;
    height: 70px;
    width: 50%;
}
.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80%;
}
.checkBox-button {
    height: 65px;
    width: 65px;
    /* min-width: 25px;
    min-height: 25px;
    margin-top: 10px;*/
    display: flex;
    align-items: center;
}
.checkBox-text {
    font-size: 25px;
}
.dialog-element.center.left-offset {
    justify-content: flex-start;
    margin-left: 10%;
}

.modal-dialog {
    position: fixed;
    background: #258cd1; /* #e6e6e6*/
    z-index: 2;
    display: none;
    width: 60%;
    height: 90%;
}
input[type="checkbox"].checkBox-button {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}
.window {
    background-color: white;
    height:80%; 
    color: #000;
    padding-bottom: 10px;
}
window-style {
    padding-left: 20%;
    padding-right: 20%;
}

.dialog-title,
.dialog-element {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 10px;*/
}

.dialog-element {
   /*padding-bottom: 0;*/ 
}

.dialog-element,
.dialog-title {
    font-weight: 600;
    width: Calc(100% - 20px);
}

.dialog-title {
    font-size: 18px;
    background: #258cd1;
    color: #fff;
}

    .dialog-title p {
        margin: 0;
        padding: 5px 0;
    }

.checked-value {
    font-weight: 300;
    font-size: 25px;
}

.dialog-button {
    width: Calc(50% - 2px);
}

.error-dialog-button {
    background: transparent;
    border: 2px solid transparent;
    color: red;
    width: auto;
}

.show-background-modal-dialog {
    display: block;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

h3:hover {
    text-decoration: none;
    cursor: default;
}

.tooltip {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}

.dialog-element:hover,
.disabled-button:hover {
    cursor: default;
}

.disabled-button {
    border-color: #bebebe;
    background: #d1d1d1;
}

.phoneConfirmOffer:first-child {
    padding-top: 0;
    margin-bottom: 0;
}

.phoneConfirmForm,
.phoneConfirmOffer,
.inputPersonalInfo,
.checkPatientForm {
    display: none;
    width: 100%;
}

    .phoneConfirmForm {
        padding: 0;
        width: 100%;
    }

.patient-data {
    width: 50%;
    float: right;
}

.patient-list-box {
    width: 100%;
}

.error-container {
    max-width: 100%;
    display: none; 
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hover-border-none:hover {
    border: 2px solid transparent;
}

#MainContentPlaceHolder_fieldsValidationSummary ul {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
    color: red;
}

.full-width {
    width: Calc(100% - 2px);
}

#MainContentPlaceHolder_backToClientSiteButton {
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 26px;
}

    .close-button:hover {
        cursor: pointer;
    }
     
 
/*стили для компьютеров*/
@media (min-width: 768px) {
    
}

/* стили для телефонов */
@media (max-width: 768px) {    
    #MainContentPlaceHolder_confirmPhoneLabel {
        display: flex;
        font-size: 10px !important;
    }
    #MainContentPlaceHolder_codeTextBox {
        height: 20px;
        width: 50%;
        border-radius: 15px;
    }
    #MainContentPlaceHolder_confirmPhoneButton {
        font-size: 8px;
    }
    #MainContentPlaceHolder_personalDataHandlingCheckBox {
        width: 20px;
        height: 20px;
        margin-right: 25px;
        accent-color: #258cd1;
        cursor: pointer;
        border-radius: 15px;
    }
    .window {
        height: 70%;
    }
    .checkBox-button {
        height: 5px;
        width: 5px;
        display: flex;
        align-items: center;
    }
    .checkBox-text {
        display: flex;
        font-size: 10px !important;
        margin-left: 20px;
        margin-top: 0px;
    }
    .modal-dialog {
       /* height: 90%;*/
        min-width: 320px;
        max-width: 320px;
    }
    .dialog-element {
        /* padding: 5px 5px 0 5px;*/
        width: Calc(100% - 10px);
    }
    .simple-button,
    .dialog-button {
        font-size: 10px;
        padding: 10px 4px;
    }
    .information-button {
        font-size: 16px;
        padding: 0;
    }
    .terms-info {
        font-size: 12px;
        margin: 10px 0;
    }
    .list-view {
        padding: 0 5px;
    }
    .simple-button {
        line-height: 1px;   
        height: 20px;
    }
    .error-container {
        max-width: 600px;
        display: none;
    }
    .codeTextBox {
        height: 20px;
        border-radius: 15px;
    }
    .num-phone-but {
        height: 20px;
    }
    .js-phoneMask {
        height: 20px;
        font-size: 10px;
    }
    .d .noteSize {
        font-size: 10px !important;
    }
    .d .note-zapis {
        font-size: 20px !important;
        margin-right: 20px;
    }
    .serviceName {
        font-size: 15px !important;
    }
    .dialog-title .dialog-title-note {
        font-size: 15px !important;
    }
    .checked-value {
        font-size: 15px !important;
    }
    .phoneConfirmForm {
        word-spacing: normal;
    }
   /* .dialog-element.left {
        max-width: 90%;
        overflow: hidden;
    }
    .serviceName,
    .checked-value {
        display: inline;
        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
    }*/
    .error-container {
        max-width: 600px;
        display: none;
    }
    .terms-info {
        margin: 2px 0;
        font-weight: 300; 
        font-size: 10px;
    }
    .dialog-title {
        width: Calc(100% - 10px);
        padding: 5px;
        font-size: 16px;
    }
    .dialog-element {
        /* padding-bottom: 0;*/
        font-size: 12px;
    }
    .dialog-title p {
        padding: 0;
    }
}
 